<div class="container my-4">
  <h1>My Offers</h1>
  <ul class="list-group mb-4 pt-3">
    <%# @jobs.each do |jobs| %>
      <li class="list-group-item mb-2">Exemplo</li>
    <%# end %>
  </ul>
</div>
