<div class="container my-5">
  <div class="row">
    <h1>Job Details</h1>
    <p><%= link_to 'Back', :back, class: "btn btn-primary ml-4" %></p>
  </div>
  <div class="card text-center mt-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <div class="clickable">
          <li class="nav-item">
            <a class="nav-link active">Title</a>
          </li>
        </div>
        <div class="clickable">
          <li class="nav-item">
            <a class="nav-link">Description</a>
          </li>
        </div>
        <div class="clickable">
          <li class="nav-item">
            <a class="nav-link">Users</a>
          </li>
        </div>
        <div class="clickable">
          <li class="nav-item">
            <a class="nav-link">Price</a>
          </li>
        </div>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>

