<div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner') %>);">
  <div class="container widthmt-2">
    <p>The right <strong>skills</strong> to the right <strong>project</strong></p>
  </div>
</div>
<div class="container mt-3">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
</div>
