<div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner') %>);">
  <div class="container">
    <p>The right <strong>skills</strong> to the right <strong>project</strong></p>
  </div>
</div>
<div class="container mt-4">
  <h1>Let's find your match!</h1>
  <div class="content mt-5">
    <%= link_to 'Find a freelance', users_path, class: "btn btn-primary" %>
    <%= link_to 'Find a project', offers_path, class: "btn btn-primary" %>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
</div>
