<div class="banner d-flex flex-column align-items-center justify-content-center" style="height: 600px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('best-freelancer.jpg') %>);">
  <div class=" content row align-items-center justify-content-center ">
    <h1> Hire the <strong>best freelancer </strong> to <strong>  <span id="banner-typed-text"></span></strong></h1> 
  </div>
  <br>
  <div class="content row d-flex justify-content-center pt-10">
    <div class='button mx-2'>
      <%= link_to 'Find a freelance', all_users_path, class: "btn btn-primary btn-lg banner-button1" %>
    </div>
    <div class='button mx-2'>
      <%= link_to 'Find a project', offers_path, class: "btn btn-primary btn-lg banner-button2" %>
    </div>
  </div>
</div>
<div class="container text-center mt-4 mx-auto mb-5">
  <br>
  <h2>Let's find your match!</h2>
  <div class="row d-flex justify-content-center mt-5 ">
    <div class="col-3 col-lg-3 card-home mr-3">
      <div class="card-body w-100">
        <h5 class="card-title">Your workforce</h5>
        <p class="card-text">If you’re a client who came here to get things done, use this workforce of independent talent to build faster and transform your business. If you’re independent talent who wants to realize your potential, know that you are a valuable and instrumental part of someone’s team.</p>
      </div>
    </div>
    <div class="col-3 col-xl-3 card-home mx-3">
      <div class="card-body w-100">
        <h5 class="card-title">Your opportunities</h5>
        <p class="card-text">Our work marketplace aligns the goals of our clients with the goals of talent on Upwork so that outcomes are better and everyone grows in the same direction. You’ll find tools to develop your skills, evolve your business, and gain the control and freedom you need for success.</p>
      </div>
    </div>
    <div class="col-3 col-xl-3 card-home ml-3">
      <div class="card-body w-100">
        <h5 class="card-title">Your choice</h5>
        <p class="card-text">If you’re a client who came here to get things done, use this workforce of independent talent to build faster and transform your business. If you’re independent talent that’s come here to realize your potential, know that you are a valuable and instrumental part of someone’s team.</p>
      </div>
    </div>
  </div>
</div>


