<h1>You are on the Offers index page</h1>
<% @offers.each do |offer| %>
<%= link_to 'Offer', offer_path(offer) %>
<% end %>


<p><%= link_to 'New offer', new_user_offer_path(@current_user) if @current_user %></p>