.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px;
}

.card p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.card-title {
  text-transform: capitalize;
}
.header {
  text-transform: capitalize;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-home {
  background-color: #d8f3dc;
  justify-content: center;
  align-items: center;
  color: #adb5bd;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-home h5 {
  color: #6c757d;
}
