.stars {
  $star-size: 25px;
  $star-color: #fff;
  $star-background: #fc0;
  $percent: calc(var(--rating) / 10 * 100%);

  display: inline-block;
  font-size: $star-size;
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, $star-background $percent, $star-color $percent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
